<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="SDSDBEntities" connectionString="metadata=res://*/Model.Context.SDSDB.csdl|res://*/Model.Context.SDSDB.ssdl|res://*/Model.Context.SDSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3.1.188.168;initial catalog=SDSDB;persist security info=True;user id=sa;password=Aadyam2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SDSDBEntities" connectionString="metadata=res://*/Model.Context.SDSDB.csdl|res://*/Model.Context.SDSDB.ssdl|res://*/Model.Context.SDSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=65.0.47.144;initial catalog=SDSDB;persist security info=True;user id=Rahul;password=AIPL2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CFADBEntities" connectionString="metadata=res://*/Model.Context.CNFDB.csdl|res://*/Model.Context.CNFDB.ssdl|res://*/Model.Context.CNFDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=65.0.47.144;initial catalog=CFADB;user id=Nitesh;password=AIPL2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>